*,*:after,*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-boz-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: #fff;
    color: #000;

    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;

}
.form-container{
    width: 100%;
    max-width: 650px;
    margin:0 auto;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    background: #09aad0;
}
.input-row{}